body {
    background-color: rgb(255, 255, 255);
}

.title h1{
    text-align:center; 
    font-size:50px; 
    text-transform:uppercase; 
    color:#222; 
    letter-spacing:1px;
    font-family:"Playfair Display", serif; 
    font-weight:400;
}

.title h1 span {
    margin-top: 5px;
      font-size:15px; 
      color:rgb(0, 0, 0); 
      word-spacing:1px; 
      font-weight:normal; 
      letter-spacing:2px;
      text-transform: uppercase; 
      font-family:"Raleway", sans-serif; 
      font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
}
  
.title h1 span:after,.title h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color:#9f0000;
}

.menu a{
    position: center;
    float: left;
    text-decoration: none;
    background-color:  rgb(255, 255, 255);
    font-family:"Playfair Display", serif; 
    color: rgb(0, 0, 0);
    width: 20%;
    padding: 10px;
    text-align: center;
    transition: all 0.5s ease

}
.menu a:hover{
    background-color:  rgb(0, 0, 0);
    font-family:"Playfair Display", serif; 
    color: rgb(255, 255, 255);
    transform: scale(0.9)
}
.menu ul{
    display: inline-block;
    list-style-type: none;
  }